{% extends "_layoutblank.html"%}
{% block content%}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>TIÊU ĐỀ</th>
                <th>CHUYÊN MỤC</th>
                <th>THỜI GIAN ĐĂNG TẢI</th>
                <th>SỐ PHIÊN BẢN</th>
            </tr>
        </thead>
        <tbody>
            {%for item in contents%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>
                        <strong>
                            <a href="#">
                                {{item['title']}}
                            </a>
                        </strong>
                    </td>
                    <td>{{item['tag_name']}}</td>
                    <td>{{item['published_at_text']}}</td>
                    <td>{{item['number_version']}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>

    {{ pagination_ajax(pagination, sid=params.sid, timingid=params.ptimingid) }}

{% endblock%}
