{% extends "_layout.html"%}
{% import "bootstrap/wtf.html" as wtf%}
{% block title %}BLANKSPIDER - FRONTEND{% endblock %}
{% block content%}

 <ol class="breadcrumb">
    <li><a href="/">HOME</a></li>
    <li><a href="/repository" class="active">KHO NỘI DUNG</a></li>
     <li><a href="/" class="active">CHI TIẾT NỘI DUNG</a></li>
</ol>
<div class="card" style="box-shadow:none;">
    <div class="card-body card-padding">
         <div class="panel-group" role="tablist" aria-multiselectable="true">

                {%for item in data%}
                    <div class="panel panel-collapse">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h1 class="panel-title">
                                <a style="font-size:24px;" data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                    Phiên bản <span style="color:red;">{{item['key']}}</span>:{{item['value']['title']}}
                                </a>
                            </h1>

                        </div>
                        <div id="collapse{{loop.index}}" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="height: 0px;" aria-expanded="false">
                            <div class="panel-body">
                                <i>{{item['value']['published_at']}}</i>
                                <span class="pull-right"><a href="{{link_href}}" target="_blank" class="btn bgm-teal waves-effect">LINK GỐC</a></span>
                                <span class="pull-right">&nbsp;&nbsp;</span>
                                <span class="pull-right"><a class="btn bgm-blue waves-effect" data-toggle="modal" href="#modalDefault{{loop.index}}">TOÀN BỘ NỘI DUNG TRANG</a></span>
                                <div class="lead">{{item['value']['description']}}</div>
                                <div>{{item['value']['content']|safe}}</div>

                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modalDefault{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg" style="width:1024px;">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <iframe src="{{url_for('repository.detail_html', cid=contentid, idx=loop.index-1)}}"
                                            frameborder="0" scrolling="no"
                                            style="width:1024px;" onload="resizeIframe(this);">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endfor%}

            </div>
    </div>
</div>
<script type="text/javascript">
  function resizeIframe(obj){
     obj.style.height = 0;
     obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>
{%endblock%}