{% extends "_layout.html"%}
{% import "bootstrap/wtf.html" as wtf%}
{% block title %}BLANKSPIDER - FRONTEND{% endblock %}
{% block content%}

 <ol class="breadcrumb">
    <li><a href="/">HOME</a></li>
    <li><a href="/repository" class="active">KHO NỘI DUNG</a></li>
</ol>
<div class="card">
    <div class="card-body card-padding">
        <div class="row">
             <div class="col-sm-3">
                {%if sources %}
                 <div class="panel-group" role="tablist" aria-multiselectable="true">
                        {% for source in sources%}
                                <div class="panel panel-collapse">
                                    <div class="panel-heading" role="tab" id="heading{{loop.index}}">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{loop.index}}" aria-controls="collapse-{{loop.index}}">
                                                {{source.name}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-{{loop.index}}" class="collapse" role="tabpanel" aria-labelledby="heading{{loop.index}}">
                                        <div class="panel-body">
                                            <div class="listview">
                                                <div class="lv-body">
                                                    {%if source.timings%}
                                                        {%for timing in source.timings%}
                                                            {%if timing.published_at%}
                                                            <a id="filter-timing" class="lv-item" target="_blank" sourceid="{{timing.source_id}}" timingid="{{timing._id}}"
                                                               href="javascript:;" page="1">
                                                                <div class="media">
                                                                    <div class="pull-right">
                                                                        <span class="badge">{{timing.count}}</span>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <div class="lv-title">
                                                                                {{ moment(timing.published_at).format('DD/MM/YYYY')}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            {%endif%}
                                                        {%endfor%}
                                                    {%endif%}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {%endfor%}
                 </div>
                 {%endif%}
             </div>
             <div class="col-sm-9">

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-6 m-b-25">
                            <p class="f-500 m-b-15 c-black">BÁO ĐIỆN TỬ</p>

                            <select class="selectpicker form-control" id="select-baodientu-repository">
                                {% for source in sources%}
                                    <option value="{{source.id}}">{{source.name}}</option>
                                {%endfor%}


                            </select>
                        </div>
                        <div class="col-sm-6 m-b-25">
                            <p class="f-500 m-b-15 c-black">TỪ KHÓA</p>
                            <input id="txt-search" class="form-control" placeholder="NHẬP TỪ KHÓA ..." type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 m-b-25">
                            <p class="f-500 m-b-15 c-black">CHUYÊN MỤC</p>
                            <select class="selectpicker form-control" id="select-tag">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <p class="f-500 m-b-20 c-black">NGÀY ĐĂNG TẢI</p>
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-calendar"></i>
                                </span>
                                <div class="dtp-container fg-line">
                                    <input id="txt-published-date" type='text' class="form-control date-picker" placeholder="Click here...">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <p class="f-500 m-b-20 c-black">&nbsp;</p>
                            <button class="btn btn-primary btn-lg waves-effect" id="btn-search">TÌM KIẾM</button>
                        </div>
                    </div>
                </div>
                 <div class="row">
                     <div class="table-responsive">
                         Xin đợi trong giây lát ...
                         <!--
                            CONTENTS FILTER HERE
                         -->
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>

{%endblock%}
{%block javascript%}
<script type="text/javascript">
    init_repository();
</script>
{%endblock%}