<!DOCTYPE html>
{% extends "middle-content.html"%}
{% import "bootstrap/wtf.html" as wtf%}
{% block title %}LUU CHIEU BAO CHI - LISTING{% endblock %}
{% block horizontalmenubar %}
<style>
    @media screen and (max-width: 1180px) {
        .horizontal-menubar-column1 {
            margin-left: 2%;
        }
    }

    @media screen and (min-width: 1529px) {
        .horizontal-menubar-column1 {
            margin-left: 7%;
        }
    }

    @media screen and (min-width: 1560px) {
        .horizontal-menubar-column1 {
            margin-left: 10%;
        }
    }

    @media screen and (min-width: 1629px) {
        .horizontal-menubar-column1 {
            margin-left: 15%;
        }
    }

</style>
<div class="horizontal-menubar-row1">
    <div class="horizontal-menubar-column1">
        <p>
            <label class="label-text-style">Tòa soạn: </label>
            <label class="custom-select">
                <select style="width: 213px;" class="horizontal-menu-border-style" id="select-baodientu-repository">
                    <option value="*">Tất cả</option>
                    {% for source in sources%}
                    <option value="{{source.id}}">{{source.name}}</option>
                    {% endfor %}
                </select>
            </label>
        </p>
    </div>
    <div class="horizontal-menubar-column2">
        <p>
            <label class="label-text-style">Từ khóa: </label>
            <label>
                <input style="width: 233px;" class="horizontal-menu-border-style input-text-style" type="text"
                       placeholder="Nhập từ khóa..." id="txt-search">
            </label>
        </p>
    </div>
    <div class="horizontal-menubar-column3">
        <button id="btn-search" class="horizontal-menu-border-style"
                style="z-index: 1000; width: 100%; height: 100%; background-color: #f1f1f1; color: #003366; font-size: 14px;font-weight: 500; margin-top: 20%;position: relative "
                id="btn-search">
            <img src="{{url_for('static', filename='images/filter.png')}}"/> Bộ lọc
        </button>
    </div>
</div>
<div class="horizontal-menubar-row2">
    <div class="horizontal-menubar-column1">
        <p>
            <label class="label-text-style">Chuyên mục: </label>
            <label class="custom-select ">
                <select style="width: 189px;" class="horizontal-menu-border-style" id="select-tag">
                    <option>Tất cả</option>
                    <option>Tình yêu</option>
                    <option>Tình báo</option>
                    <option>Giới tính</option>
                </select>
            </label>
        </p>
    </div>
    <div class="horizontal-menubar-column2">
        <label class="label-text-style">Ngày:</label>
        <label class="calendar">
            <input id="txt-date-from-picker" data-date-format="dd/mm/yyyy"
                   class="horizontal-menu-border-style input-text-style" type="text" readonly>
            <img src="{{url_for('static', filename='images/datetimepickericon.png')}}"/> </label>
        <label class="label-text-style" style="margin-left: 9%;">-</label>
        <label class="calendar">
            <input id="txt-date-to-picker" data-date-format="dd/mm/yyyy"
                   class="horizontal-menu-border-style input-text-style" type="text" readonly>
            <img src="{{url_for('static', filename='images/datetimepickericon.png')}}"/> </label>
    </div>
</div>
{% endblock %}