{% extends "listing.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_macros.html" import pagination_ajax_page_version with context %}
{% block title %}LUU CHIEU BAO CHI - BAI VIET{% endblock %}
{% block horizontalmenubar %}
    <style>
        @media screen and (max-width: 1180px) /* height >= 820 px */ {
            .horizontal-menubar-detail-column {
                margin-left: 1.5%;
            }
        }

        @media screen and (min-width: 1529px) /* height >= 820 px */ {
            .horizontal-menubar-detail-column {
                margin-left: 7%;
            }
        }

        @media screen and (min-width: 1560px) /* height >= 820 px */ {
            .horizontal-menubar-detail-column {
                margin-left: 10%;
            }
        }

        @media screen and (min-width: 1629px) /* height >= 820 px */ {
            .horizontal-menubar-detail-column {
                margin-left: 10%;
            }
        }

        @media screen and (max-width: 840px) {
            .horizontal-menubar-detail-column {
                margin-left: 20px;
            }

            .post_container {
                margin-top: 20px;
            }

        }

        @media screen and (min-width: 841px) {
            .horizontal-menubar-detail-column {
                margin-left: 5%;
            }

            .post_container {
                margin-top: 0px;
            }
        }

        a {
            cursor: pointer;
        }
    </style>
    {% for item in data %}
        <div id="menubar_{{ loop.index }}" style="display: none; width: 100%;margin-top: 2%;margin-left: 5%">
            <h6 id="total_count" style="display: none">{{ pagination.total_count }}</h6>
            <div class="horizontal-menubar-detail-row1">
                <div class="horizontal-menubar-detail-column">
                    <label class="label-detail-text-style">Tòa soạn: </label>
                    <label class="label-text-style">{{ source.name }}</label>
                </div>
                <div class="horizontal-menubar-detail-column">
                    <label class="label-detail-text-style">Tiêu đề: </label>
                    <label id="txt_title_{{ loop.index }}"
                           class="label-text-style">{{ item['value']['title'] }} </label>
                </div>
            </div>
            <div class="horizontal-menubar-detail-row1">
                <div class="horizontal-menubar-detail-column">
                    <label class="label-detail-text-style">Chuyên mục: </label>
                    <label class="label-text-style">{{ item['value']['tag_name'] }}</label>
                </div>
                <div class="horizontal-menubar-detail-column">
                    <label class="label-detail-text-style">Ngày đăng tải: </label>
                    <label id="txt_pulished_at_{{ loop.index }}"
                           class="label-text-style">{{ item['value']['published_at'] }}</label>
                </div>
                <div class="horizontal-menubar-detail-column">
                    <label class="label-detail-text-style">Ngày lưu chiểu: </label>
                    <label id="txt_luuchieu_at_{{ loop.index }}"
                           class="label-text-style ">{{ item['value']['published_at'] }}</label>
                </div>
                <div class="horizontal-menubar-detail-column"></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block midlecontent %}
    {% for item in data %}
        <div id="middle_{{ loop.index }}" style="display: none" class="midle-content col-sm-12">
            <div>
                <div class="midle-content-navigationbar" style="width: 100%; padding-bottom: 20px;">
                    <a id="anhfull_{{ loop.index }}"
                       class="boder-right" style="text-align: center; padding-right: 5px; margin-right:5px;"
                       onclick="displayFullPageIMG({{ loop.index }})">TOÀN BỘ TRANG</a>
                    <a id="anhbai_{{ loop.index }}"
                       class="boder-right" style="text-align: center; padding-right: 5px; margin-right:5px;"
                       onclick="displayFilteredContentIMG({{ loop.index }})">BÀI VIẾT</a>
                    <a style="color: red !important;" href="{{ link_href }}"
                       target="_blank">BÀI VIẾT GỐC</a>

                    <div style="float: right; margin-right: 0px; color:  #337ab7 !important;font-size:  14px;font-weight:  400;text-decoration:  underline;text-align:  justify;">
                        {% if params.prepageid|int == 0 %}
                            <a style="color:  #337ab7 !important;"
                               href="{{ url_for('repository.back_from_detail_to_filter_by_default', page=params.page) }}">
                                < Quay lại
                            </a>
                        {% elif params.prepageid|int == 1 %}
                            <a style="color:  #337ab7 !important;"
                               href="{{ url_for('repository.back_from_detail_to_filter_by_timing',sid=source.id,ptimingid=params.ptimingid, page=params.page) }}">
                                < Quay lại
                            </a>
                        {% elif params.prepageid|int == 3 %}
                            <a style="color:  #337ab7 !important;"
                               href="{{ url_for('repository.back_from_detail_to_search',source=params.source,tag=params.tag, published_from=params.published_from, published_to=params.published_to, kw = params.kw, page=params.page) }}">
                                < Quay lại
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="post_container col-sm-12 col-xs-12" style="margin: 0 auto">
                    {#                    <img src="{{ item['value']['image_full_content'] }}" id="img_fullcontent_{{ loop.index }}"#}
                    {#                         style="display: none;max-width: 100%">#}
                    {#                    <img src="{{ item['value']['image_filter_content'] }}" id="img_filtered_content_{{ loop.index }}"#}
                    {#                         style="min-width: 480px;max-width:100%;border: 10px solid #FFFFFF; position: relative; display: block; margin: 0 auto"#}
                    {#                         class="img-filtered-content">#}
                    <iframe class="iframe" id="img_fullcontent_{{ loop.index }}"
                            onload="resizeIframe(this);"
                            src="{{ url_for('repository.display_pdf', pdfurl=item['value']['image_full_content'], kw=params.kw, scale=0) }}"
                            frameborder="0" scrolling="no"
                            style="width:100%; display: none;position: relative;margin: 0 auto;">
                    </iframe>
                    <iframe class="iframe" id="img_filtered_content_{{ loop.index }}"
                            onload="resizeIframe(this);"
                            src="{{ url_for('repository.display_pdf', pdfurl=item['value']['image_filter_content'], kw=params.kw, scale=1) }}"
                            frameborder="0" scrolling="no"
                            style="width:100%; display: block;position: relative;margin: 0 auto;">
                    </iframe>
                    <div style="width: 100%">
                        <div style="margin-top: 20px; width: 100%;">
                            <nav aria-label="Page navigation example" style="display: inline-block; width: 100%;">
                                <div id="tong-so" style="margin-top: 5px; margin-right: 10px;"><label>Phiên bản:</label>
                                </div>
                                <ul class="pagination">
                                    {{ pagination_ajax_page_version(pagination,loop.index) }}
                                </ul>

                                <div style="float: right; margin-right: 0px; color:  #337ab7;font-size:  14px;font-weight:  400;text-decoration:  underline;text-align:  justify;">
                                    {% if params.prepageid|int == 0 %}
                                        <a href="{{ url_for('repository.back_from_detail_to_filter_by_default', page=params.page) }}">
                                            < Quay lại
                                        </a>
                                    {% elif params.prepageid|int == 1 %}
                                        <a href="{{ url_for('repository.back_from_detail_to_filter_by_timing',sid=source.id,ptimingid=params.ptimingid, page=params.page) }}">
                                            < Quay lại
                                        </a>
                                    {% elif params.prepageid|int == 3 %}
                                        <a href="{{ url_for('repository.back_from_detail_to_search',source=params.source,tag=params.tag, published_from=params.published_from, published_to=params.published_to, kw = params.kw, page=params.page) }}">
                                            < Quay lại
                                        </a>
                                    {% endif %}
                                </div>
                            </nav>
                        </div>
                    </div>

                </div>
                <div class="modal fade" id="modalDefault{{ loop.index }}" tabindex="-1" role="dialog" aria-hidden="true"
                     style="display: none;">
                    {#                    <div class="modal-dialog modal-lg" style="width:1024px;">#}
                    {#                        <div class="modal-content">#}
                    {#                            <div class="modal-body">#}
                    {#                                <iframe id="iframe_{{ loop.index }}"#}
                    {#                                        src="{{ url_for('repository.detail_html', cid=contentid, idx=loop.index - 1) }}"#}
                    {#                                        frameborder="0" scrolling="no"#}
                    {#                                        style="width:1024px;">#}
                    {#                                </iframe>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>

        </div>
    {% endfor %}
    <script type="text/javascript">
        $('#anhbai_1').css("background-color", "#8c8c8c");
        var total_count = $('#total_count').text();
        for (var index = 1; index <= total_count; index++) {
            var title = $('#txt_title_' + index).text();
            var pulished_at = $('#txt_pulished_at_' + index).text();
            var luuchieu_at = $('#txt_luuchieu_at_' + index).text();
            if (title.length >= 75) {
                title = title.substring(0, 75) + "...";
                $('#txt_title_' + index).html(title);
            }
            var i = pulished_at.indexOf("|");
            var j = luuchieu_at.indexOf("|");
            if (i > 0) {
                pulished_at = pulished_at.substring(0, i);
            } else if (pulished_at.indexOf("-") > 0) {
                pulished_at = pulished_at.substring(0, pulished_at.indexOf("-"));
            }
            if (j > 0) {
                luuchieu_at = luuchieu_at.substring(0, j);
            } else if (luuchieu_at.indexOf("-") > 0) {
                luuchieu_at = luuchieu_at.substring(0, luuchieu_at.indexOf("-"));
            }
            $('#txt_pulished_at_' + index).html(pulished_at);
            $('#txt_luuchieu_at_' + index).html(luuchieu_at);
        }

        function resizeIframe(obj) {
            setTimeout(function () {
                var pages = obj.contentWindow.document.getElementsByClassName('page');
                var pageHeight = pages[0].style.height.split('p');
                var pageWidth = pages[0].style.width.split('p');
                obj.style.width = (pageWidth)+200+'px';
                obj.style.height = ((pageHeight[0] * pages.length)+200) + 'px';
            }, 1000);

        }

        $('#menubar_1').css("display", "block");
        $('#middle_1').css("display", "block");

        function displayFullPageIMG(version) {
            $('#img_fullcontent_' + version).css("display", "block");
            $('#anhfull_' + version).css("background-color", "#8c8c8c");
            hideFilteredContentIMG(version);
            //hidePost(version);
        }

        function displayFilteredContentIMG(version) {
            $('#img_filtered_content_' + version).css("display", "block");
            $('#anhbai_' + version).css("background-color", "#8c8c8c");
            hideFullpageIMG(version);
            //hidePost(version);
        }

        function hideFullpageIMG(version) {
            $('#img_fullcontent_' + version).css("display", "none");
            $('#anhfull_' + version).css("background-color", "transparent");
        }

        function hideFilteredContentIMG(version) {
            $('#img_filtered_content_' + version).css("display", "none");
            $('#anhbai_' + version).css("background-color", "transparent");
        }

        function displayPost(version) {
            $('#post_' + version).css("display", "block");
            $('#baiviet_' + version).css("background-color", "#8c8c8c");
            hideFullpageIMG(version);
            hideFilteredContentIMG(version);
        }

        function hidePost(version) {
            $('#post_' + version).css("display", "none");
            $('#baiviet_' + version).css("background-color", "transparent");
        }

    </script>
{% endblock %}
