@charset "utf-8";
/* CSS Document */
.datatable_title_column {
    color: #0066ff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1.2px;
    text-align: justify;
    width: 50%;
}

a{
    cursor:pointer;
}

.datatable_other_columns {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -1.05px;
    text-align: justify;
}

.datatable_first_row {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    text-align: justify;
    overflow: hidden;
    background-color: #CCCCCC;

}

.label-detail-text-style {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.menu-tree-link {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    text-align: justify;

}

.tree-toggler {
    color: #333333;
    font-size: 14px; /* Approximation due to font substitution */
    font-weight: bold;
}

.midle-content-navigationbar a {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}

label img {
    margin-right: 5px;
}

a img {
    margin-right: 5px;
    margin-left: 5px;
}

/*Safari, Google Chrome, Opera 15+*/
::-webkit-input-placeholder {
    color: #333333;
    font-size: 11px;
    font-style: italic;
    font-weight: lighter;
}

/*firefox*/
:-moz-placeholder {
    color: #333333;
    font-size: 12px;
    font-style: italic;
}

/*Mozilla Firefox 19+*/
::-moz-placeholder {
    color: #333333;
    font-size: 12px;
    font-style: italic;
}

/*Internet Explorer 10 and 11*/
:-ms-input-placeholder {
    color: #333333;
    font-size: 12px;
    font-style: italic;
}

/*::-webkit-datetime-edit { padding: 1em; }*/
/*::-webkit-datetime-edit-fields-wrapper { background: silver; }*/
::-webkit-datetime-edit-text {
    color: red;
    padding: 0 0.3em;
}

::-webkit-datetime-edit-month-field {
    color: blue;
}

::-webkit-datetime-edit-day-field {
    color: green;
}

::-webkit-datetime-edit-year-field {
    color: purple;
}

::-webkit-inner-spin-button {
    content: "";
    background: url(../images/datetimepickericon.png) no-repeat center center;
}

::-webkit-calendar-picker-indicator {
    background: orange;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.label-text-style {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

.input-text-style {
    color: #333333;
    font-size: 12px;
    font-weight: 700;
}

.horizontal-menu-border-style {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
}

.custom-select select {
    display: inline-block;
    padding: 4px 3px 3px 5px;
    margin: 0;
    outline: none; /* remove focus ring from Webkit */
    line-height: 1.2;
    -webkit-appearance: none; /* remove the strong OSX influence from Webkit */
    color: #333333;
    font-size: 12px;
    font-weight: 700;
}

.horizontal-menubar-detail-column a:hover {
    color: black;
}

/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .custom-select select {
        padding-right: 30px;
    }
}

/* Since we removed the default focus styles, we have to add our own */
.custom-select select:focus {
    -webkit-box-shadow: 0 0 3px 1px #f1f1f1;
    -moz-box-shadow: 0 0 3px 1px #f1f1f1;
    box-shadow: 0 0 3px 1px #f1f1f1;
}

/* Select arrow styling */
.custom-select:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 7px 0 7px;
    margin-right: 5px;
    background: url(../images/iconmonstr-triangle-3-[Converted].png) no-repeat;
    background-position: center center;
    color: black;
    pointer-events: none;
    border-left: 1px solid #7d7d7d;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.no-pointer-events .custom-select:after {
    content: none;
}

.calendar {
    position: relative;
    width: 20%;
    margin-left: 5%;
}

.calendar input {
    display: inline-block;
    box-sizing: border-box;
    width: 120%;
}

.calendar img {
    position: absolute;
    top: 2px;
    right: -23px;
    bottom: 0;
    height: 90%;
    width: auto;
}

#navigationbar {
    background: url(../images/listing2504.jpg);
    height: 150px;
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
}

#navigation-container {
    padding-top: 110px;
    background-color: transparent;
}

#defaultNavbar1 {
    float: right;
}

#link_kho_nd, #link_canh_bao {
    border-right: solid;
    border-right-color: #ffffff;
}

#link_kho_nd, #link_canh_bao, #link_bao_cao {
    height: 14px;
    display: block;
    vertical-align: text-top;
    padding-bottom: 20px;
}

#horizontal-menubar {
    height: 67px;
    margin-top: -21px;
    width: 100%;
    background: url(../images/horizontalmenubackground.png) no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

#admin-area {
    float: left;
    width: 20.1%;
    padding-left: 2%;
    height: inherit;
    background: url(../images/adminbackground.png) no-repeat;
    background-size: cover;
    background-position: center center;
    min-width: 80px;
    overflow: hidden;
    align-items: center;
    vertical-align: middle;
}

#avatar_container {
    width: 90%;
    height: 100%;
    vertical-align: middle;
    align-self: center;
    margin-top: 15px;
}

#avatar_container a {
    align-self: center;
    vertical-align: middle;
    width: 89px;
    height: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 0;
}

#horizontal-menubar table {
    float: right;
    width: auto;
    height: 100%;
    margin-left: 40px;
}

#content {
    width: 100%;
    height: auto;
}

#left-menu-tree {
    min-width: 192px;
    width: 19%;
    padding-left: 0px;
    overflow-y: scroll;
    float: left;
    z-index: 2;
}

#left-menu-tree .container-fluid {
    /*width: 19%;*/
    /*height: 100%;*/
    width: 100%;
    background-color: #f1f1f1;
    float: left;
    margin-left: -3px;
}

#left-menu-tree-layer1 {
    width: 100%;
    margin-top: 20px;
}

#left-menu-tree-layer1 div {
    overflow-x: auto;
    height: 100%;
}

#tong-so {
    float: left;
    font-weight: bold;
    color: #333333;
    font-size: 16px;
    text-align: justify

}

#pager {
    float: right;
}

.footer {
    text-align: right;
    vertical-align: middle;
    line-height: 40px;
    width: 100%;
    height: 39px;
    float: left;
    margin-left: -5px;
    padding-right: 16px;
    background-color: #4B4B4B;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.table-first-row {
    height: 19px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.midle-content {
    float: right;
    margin-top: 20px;
    margin-right: 23px;
    width: 77%;
}

.boder-right {
    border-right: 1px solid #333333;
}

.horizontal-menubar-row1 {
    width: 80%;
    display: inline-block;
    margin-top: 5px;
    float: left;
}

.horizontal-menubar-column1 {
    float: left;
    display: inline;
    margin-left: 5%;
}

.horizontal-menubar-column2 {
    float: left;
    display: inline;
    margin-left: 5%;
}

.horizontal-menubar-column3 {
    float: left;
    display: inline;
    margin-left: 10%;
}

.horizontal-menubar-row2 {
    width: 80%;
    float: left;
    display: inline-block;
    margin-top: -15px;
}

.horizontal-menubar-detail-row1 {
    width: 80%;
    display: inline-block;
    margin-top: 5px;
}

.horizontal-menubar-detail-column {
    float: left;
    display: inline;
    margin-left: 5%;
    overflow-x: hidden;
}

html, body {
    font-family: 'Segoe UI';
!important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0 auto;
    width: 100%;
    background-color: #ECECEC;
    background-position: center center;
    background-size: cover;
    min-width: 1084px;
    overflow-x: hidden;
}

iframe {
    position: relative;
}

.text-center {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: justify;

}

#txt-search {
    width: 233px;
}

#select-baodientu-repository {
    width: 213px;
}

#select-tag {
    width: 189px;
}

#btn_slide_right {
    display: none;
    position: fixed;
    left: -5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

/*.table_body {*/
/*max-height: 1440px;*/
/*overflow-y: scroll;*/
/*}*/

/*thead, tbody { display: block; }*/

/*tbody {*/
/*height: 1400px;       !* Just for the demo          *!*/
/*overflow-y: auto;    !* Trigger vertical scroll    *!*/
/*overflow-x: hidden;  !* Hide the horizontal scroll *!*/
/*}*/
/*thead {*/
/*display: table-header-group;*/
/*vertical-align: middle;*/
/*}*/

/*table {*/
/*border-collapse: collapse;*/
/*border-spacing: 0;*/
/*}*/

/*tr {*/
/*display: table-row;*/
/*vertical-align: inherit;*/
/*border-color: inherit;*/
/*}*/

/*th {*/
/*background-color: red;*/
/*margin: 0;*/
/*display: table-cell;*/
/*vertical-align: inherit;*/
/*height: 50px;*/
/*}*/

/*table tbody {*/
/*border-right: 20px solid transparent;*/
/*}*/

/*#table-wrapper {*/
/*overflow-x: hidden;*/
/*position: relative;*/
/*display: block;*/
/*}*/

/*#table-scroll {*/
/*overflow-x: hidden;*/
/*display: block;*/
/*max-height: 1450px;*/
/*overflow-y: scroll;*/
/*}*/

/*#table-wrapper table {*/
/*width: 100%;*/

/*}*/

/*table {*/
/*display: table;*/
/*width: 100%;*/
/*}*/

/*#table-wrapper table thead th .text {*/
/*top: -0.01px;*/
/*position: absolute;*/
/*height: 50px;*/
/*width: 100%;*/
/*margin-left: -8px;*/
/*border: 1px solid #DEDACF;*/
/*background-color: #CCCCCC;*/
/*}*/