<!DOCTYPE html>
<html class="login-content">
  <head>

    <title>BLANKSPIDER - FRONTEND - ĐĂNG NHẬP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">


    <!-- Vendor CSS -->
    <link href="{{url_for('static', filename='themes/css/animate.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='themes/css/material-design-iconic-font.min.css')}}" rel="stylesheet">

    <!-- CSS -->
    <link href="{{url_for('static', filename='themes/css/app.min.1.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='themes/css/app.min.2.css')}}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}"/>


    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin,vietnamese,latin-ext' rel='stylesheet' type='text/css'>

  </head>
  <body class="login-content">



    {% block content %}

        {% block page_content %}{% endblock %}


    {% endblock %}






    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script src="{{url_for('static', filename='scripts/waves.min.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/functions.js')}}"></script>

  </body>
</html>
