{%extends "_layoutblank.html"%}
{% block content %}
<table class="table table-striped table-bordered">
        <thead>
        <tr style="background: #7d7d7d; font-family: 'Segoe UI';color: #333333;font-size: 14px;font-weight: 700;">
            <th>TIÊU ĐỀ</th>
            <th>CHUYÊN MỤC</th>
            <th>THỜI GIAN</th>
            <th>PHIÊN BẢN</th>
        </tr>
        </thead>
        <tbody>
        {%for item in contents%}
        <tr>
            <td><a href="{{url_for('repository.detail', cid=item.id)}}"> {{item['title']}}</a></td>
            <td>{{item['tag_name']}}</td>
            <td>{{item['published_time']}}</td>
            <td>{{item['version_count']}}</td>
        </tr>
        {%endfor%}
    </table>
    {%if params%}
    {%if params.pageid == 1%}
        {{ pagination_ajax(pagination, sid=params.sid, timingid=params.ptimingid) }}
    {%endif%}
    {%if params.pageid == 0%}
    {{ pagination_ajax_content_default(pagination) }}
    {%endif%}
    {%else%}
<h1>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h1>
    {%endif%}
{% endblock %}