<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lưu chiểu báo chí - details</title>

<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/luuchieubaochi.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default" id="navigationbar">
  <div id="navigation-container" class="container-fluid"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="btn_collapsed" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="defaultNavbar1">
      <ul class="nav navbar-nav navbar-right">
        <li class="text-center" id="link_kho_nd"><a href="#">KHO NỘI DUNG</a></li>
        <li class="text-center" id="link_canh_bao"><a href="#">CẢNH BÁO</a></li>
        <li class="text-center" id="link_bao_cao"><a href="#">BÁO CÁO</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
<div id="horizontal-menubar">
  <div id="admin-area" class="row text-center pagination-centered">
    <div id="avatar_container"> <img src="images/adminavatar.png"/> <a href="#" id="link_user_name">Adminstrator</a> </div>
  </div>
  <div class="horizontal-menubar-detail-row1">
    <div class="horizontal-menubar-detail-column">
      <label class="label-detail-text-style">Tòa soạn: </label>
      <label class="label-text-style">VnExpress</label>
    </div>
    <div class="horizontal-menubar-detail-column">
      <label class="label-detail-text-style">Tiêu đề: </label>
      <label class="label-text-style">Thanh tra Chính phủ: “Đồng tâm là bài học lớn” </label>
    </div>
  </div>
  <div class="horizontal-menubar-detail-row1">
    <div class="horizontal-menubar-detail-column">
      <label class="label-detail-text-style">Chuyên mục: </label>
      <label class="label-text-style">Thời sự</label>
    </div>
    <div class="horizontal-menubar-detail-column">
      <label class="label-detail-text-style">Ngày đăng tải: </label>
      <label class="label-text-style">24/04/2017 </label>
    </div>
    <div class="horizontal-menubar-detail-column">
      <label class="label-detail-text-style">Ngày lưi chiểu: </label>
      <label class="label-text-style">24/04/2017 </label>
    </div>
    <div class="horizontal-menubar-detail-column"> <a  href="#" class="label-detail-text-style">Bài viết gốc </a> </div>
  </div>
</div>
<div id="content">
  <div id="left-menu-tree">
    <div class="container-fluid">
      <div id="left-menu-tree-layer1">
        <div>
          <ul class="nav">
            <li>
              <label class="tree-toggler nav-header"> <img src="images/opened-folder.png"/> VnExpress (702)</label>
              <ul class="nav nav-list tree">
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>xxx</a></li>
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>abc xyz</a></li>
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>LMAB Report</a></li>
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>DMF Notification</a></li>
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>LME Forecast Report</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li>
              <label class="tree-toggler nav-header"><img src="images/opened-folder.png"/>VietNamNet</label>
              <ul class="nav nav-list tree">
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>Calendar</a></li>
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>Efficiency</a></li>
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>Process Age</a></li>
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>DME Audit</a></li>
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>Condition Detected At DME</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li>
              <label class="tree-toggler nav-header"><img src="images/opened-folder.png"/>Dân Trí</label>
              <ul class="nav nav-list tree">
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>Demography</a> </li>
                <li><a href="#" class="menu-tree-link"><img src="images/link-arrow.png"/>Feedback</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="midle-content">
    <div class="midle-content-navigationbar"> <a href="listing.html" class="boder-right" style="text-align: center; padding-right: 5px; margin-right:5px;">HOME</a> <a href="#">KHO NỘI DUNG</a> </div>
    <div id="post" style="border: solid;background: #FFFFFF; overflow: hidden">
      <div id="inside-post" style="margin-top: -10px; margin-left: 23px; margin-right: 10px; border: solid; ">
        <h1 id="title"> Thanh tra Chính phủ: 'Đồng Tâm là bài học lớn' </h1>
        <h3 id="post-summary" style="font: 700 14px/18px arial; color: #444; text-rendering: geometricPrecision;"> Phó tổng Thanh tra Chính Phủ Ngô Văn Khánh cho hay vụ tranh chấp đất đai dẫn đến 38 người bị giữ ở Đồng Tâm (Mỹ Đức) là "bài học lớn với người dân và cơ quan quản lý nhà nước". </h3>
        <ul>
          <li> <a tabindex="1" id="related-news" style="color: #666;">Hà Nội quyết định thanh tra đất quốc phòng tại Đồng Tâm trong 45 ngày</a> </li>
        </ul>
        Lính cứu hoả Hải Phòng dập lửa trong đêm  
        Đồng chó ngáp - vùng đất đồng khô cỏ cháy một thời ở miền Tây
        Một năm chăm sóc cậu bé tí hon hơn 3 kg của thầy hiệu trưởng 	 44
        Bốn người Trung Quốc gặp nạn trên chiếc xe lao xuống vực
        Nữ hành khách la hét, gây gổ bị cấm bay 12 tháng 	 74
        Đề xuất cho xe buýt dưới 17 chỗ hoạt động như taxi ở đô thị lớn  35
        Buổi chiều định mệnh của cậu bé cứu 4 bạn đuối nước  153
        17 du khách ở Đà Nẵng ngộ độc do ăn dưa chua chứa E.coli
        Mưa kéo dài 3 ngày ở miền Bắc
        Chủ tịch Hà Nội: Điều chuyển tuyến xe khách không có 'lợi ích nhóm'
        Chia sẻ ảnh, video, bài viết tại đây
        Giao thông
        Mẫu máu tài xế xe tải vụ tai nạn 13 người chết không có ma túy  Mẫu máu tài xế xe tải vụ tai nạn 13 người chết không có ma túy
        Sau 2 lần giám định, cơ quan cảnh sát điều tra vẫn không tìm thấy chất ma túy trong mẫu máu của tài xế xe tải đâm trực diện ôtô 
        Thẩm định giá máy bay Boeing vô chủ tại Nội Bài
        Nữ hành khách la hét, gây gổ bị cấm bay 12 tháng   74
        Đề xuất cho xe buýt dưới 17 chỗ hoạt động như taxi ở đô thị lớn  35
        Việt Nam 30 năm đổi mới
        Trưng bày hơn 200 kỷ vật về Tổng bí thư Trường Chinh Trưng bày hơn 200 kỷ vật về Tổng bí thư Trường Chinh
        Kỷ niệm 110 năm ngày sinh cố Tổng bí thư Trường Chinh (1907-2017), Văn phòng Trung ương Đảng và Bộ Văn hóa tổ chức triển lãm "Tổng bí thư Trường 
        Hành trình 'ra biển lớn' trong 30 năm Đổi mới
        Những dấu mốc Việt Nam vươn ra biển lớn
        Phó chủ tịch Quốc hội: 30 năm Đổi mới là một kỳ tích 
        Học tiếng Anh
        3 mẫu câu tiếng Anh bạn được học nhưng không nên dùng 
        "I'm fine" là câu trả lời quen thuộc cho câu hỏi "How are you?" nhưng không được khuyến khích sử dụng vì không tự nhiên. 
        Khắc phục 3 điểm yếu thường gặp khi luyện nghe tiếng Anh
        Học từ vựng về nghề nghiệp qua ngôn ngữ hình thể
        Những tính từ chỉ mức độ tuyệt đối trong tiếng Anh
        Du học
        Cơ hội học bổng tại Triển lãm Du học Quốc tế Edu Expo Cơ hội học bổng tại Triển lãm Du học Quốc tế Edu Expo
        Tham dự sự kiện, học sinh sẽ được giải đáp thắc mắc về chương trình, học bổng từ đại diện của hơn 40 trường và có cơ hội nhận quà 
        Giáo sư Tesol chia sẻ phương pháp giảng dạy tiếng Anh mới
        Du học châu Âu cùng Tập đoàn Giáo dục Cambridge
        Hội thảo học bổng và tương lai nghề nghiệp tại Monash, Australia
        
        Trang chủĐặt VnExpress làm trang chủ Về đầu trang </div>
    </div>
    <div  id="tong-so"> Tổng số (80) </div>
    <div id="pager">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span> </a> </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span> </a> </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="footer"> Copy right luu chieu bao chi 2017 </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-1.11.3.min.js"></script> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/bootstrap-datepicker.js">
</script>
</body>
</html>
