<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Lưu chiểu báo chí - listing{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/datepicker.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/luuchieubaochi.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{url_for('static', filename='scripts/html5shiv.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/respond.min.js')}}"></script>
    <![endif]-->
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang("vi") }}
    <style>
        body {
            width: auto;
            min-width: 250px;
        }

        .navbar {
            margin-bottom: 0 !important;
        }

        .navbar-toggle {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        @media screen and (max-width: 992px) {
            #horizontal-menubar {
                height: auto;
            }

            #admin-area {
                height: 100%;
            }

        }

        @media screen and (min-width: 993px) {
        {#            body {#}
        {#                min-width: 1084px;#}
        {#            }#}

            #horizontal-menubar {
                height: 150px;
            }

        {#            #admin-area {#}
        {#                height: inherit;#}
        {#            }#}
        {##}
        {#            #btn_slide_right {#}
        {#                display: none;#}
        {#            }#}

        }

        {#        @media screen and (min-width: 769px) {#}
        {#            #defaultNavbar1 {#}
        {#                background: transparent;#}
        {#            }#}
        {#        }#}
    </style>
</head>
<body>
<nav class="navbar navbar-default" id="navigationbar">
    <div id="navigation-container" class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="btn_collapsed" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="defaultNavbar1">
            <ul class="nav navbar-nav navbar-right">
                <li class="text-center" id="link_kho_nd"><a href="/repository">KHO NỘI DUNG</a></li>
                <li class="text-center" id="link_canh_bao"><a href="#">CẢNH BÁO</a></li>
                <li class="text-center" id="report_source"><a href="javascript:;">BÁO CÁO</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div id="horizontal-menubar" class="col-md-12">
    <div id="admin-area" class="row col-md-2 col-sm-3">
        <div id="avatar_container" class="col-md-12 col-sm-12">
            <img src="{{ url_for('static', filename='images/adminavatar.png') }}"
                 style="height: 80%; margin-bottom: 10px"/>
            <a href="#" id="link_user_name">Adminstrator</a>
        </div>
    </div>
    <div id="menu_bar" class="col-md-10 col-sm-9">
        {% block horizontalmenubar %}

        {% endblock %}
    </div>
</div>
<div id="content" class="col-md-12 col-sm-12">
    <div id="left-menu-tree" class="container-fluid row col-md-2 col-sm-3">
                    <ul class="nav" style="margin-top: 5px !important; margin-bottom: 5px !important;">
                        {% if sources %}
                            {% for source in sources %}
                                <li>
                                    <label class="tree-toggler nav-header control-label control-label-left"><img
                                            src="{{ url_for('static', filename='images/opened-folder.png') }}"/>
                                        <img src="{{ url_for('static', filename='images/folderIcon.png') }}"
                                             style="display: none"/>
                                        {{ source.name }} ({{ source|count }})
                                    </label>
                                    <ul class="nav nav-list tree">
                                        {% if source.timings %}
                                            {% for timing in source.timings %}
                                                {% if timing.published_at %}
                                                    <li><a href="javascript:;" page="1" pageid="{{ params.pageid }}"
                                                           prepageid="{{ params.prepageid }}" class="menu-tree-link"
                                                           sourceid="{{ timing.source_id }}"
                                                           timingid="{{ timing._id }}"><img
                                                            src="{{ url_for('static', filename='images/link-arrow.png') }}"/> {{ moment(timing.published_at).format('DD/MM/YYYY') }}
                                                        ({{ timing.count }})</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
    </div>
    {% block midlecontent %}


    {% endblock %}
</div>
<div class="busy_mark"
     style="display: none; width: 500px; height: 500px; position: fixed;font-size:14px">
    <img src="{{ url_for('static', filename='images/ajax-loader.gif') }}"/> Xin chờ trong giây lát...
</div>
<div class="error_message"
     style="display: none; width: 500px; height: 500px; position: fixed">
    <h1 style="color: red;font-size:24px; font-weight: bold;">Đã xảy ra lỗi, vui lòng kiểm tra lại đường truyền
        Internet...!</h1>
</div>
<div id="btn_slide_right">
    <button>
        <img id="open_menutree" src="{{ url_for('static', filename='images/openleftmenutree.png') }}"
             style="width: 100%;height: 100%">
        <img id="close_menutree" src="{{ url_for('static', filename='images/Close_left_menutree.png') }}"
             style="width: 100%;height: 100%;display: none">
    </button>
</div>
<div class="footer" id="footer"> Copy right luu chieu bao chi 2017</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/frontend.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='scripts/bootstrap-datepicker.vi.min.js') }}"></script>


<script type="text/javascript">

    $(function () {
        $('#date-from input').datepicker({
    format: "dd/mm/yyyy",
    clearBtn: true,
    language: "vi",
    autoclose: true,
    toggleActive: true
});
        $('#date-to input').datepicker({
    format: "dd/mm/yyyy",
    clearBtn: true,
    language: "vi",
    autoclose: true,
    toggleActive: true
});
    });

</script>
{% block javascript %}


{% endblock %}
</body>
</html>
