{% extends "listing.html"%}
{% from "_macros.html" import pagination_ajax with context%}
{% from "_macros.html" import pagination_ajax_content_default with context%}
{% from "_macros.html" import pagination_ajax_search_content with context%}
{% block midlecontent %}
<div class="midle-content">
    <table class="table table-striped table-bordered">
        <thead>
        <tr style="background: #7d7d7d; font-family: 'Segoe UI';color: #333333;font-size: 14px;font-weight: 700;">
            <th>#</th>
            <th>TIÊU ĐỀ</th>
            <th>CHUYÊN MỤC</th>
            <th>THỜI GIAN</th>
            <th>PHIÊN BẢN</th>
        </tr>
        </thead>
        <tbody>
        {%for item in contents%}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="{{url_for('repository.detail', cid=item.id)}}"> {{item['title']}}</a></td>
            <td>{{item['tag_name']}}</td>
            <td>{{item['published_time']}}</td>
            <td>{{item['version_count']}}</td>
        </tr>
        {%endfor%}
    </table>
    <div id="tong-so"> Tổng số: <label style="color: red;">{{pagination.total_count-1}}</label></div>
    {%if params%}
    {%if params.pageid == 1%}
    {{ pagination_ajax(pagination, sid=params.sid, timingid=params.ptimingid) }}
    {%endif%}
    {%if params.pageid == 0%}
    {{ pagination_ajax_content_default(pagination) }}
    {%endif%}
    {%else%}
    #TODO if pageid not 0 , not 1, implement for search function
    {%endif%}
</div>
{%endblock%}
