{% extends "_layoutblank.html" %}
{% block content %}
    <h1 style="display: none" id="page_id">4</h1>
    <table id="data_table" class="table table-striped table-bordered">
        <thead>
        <tr class="datatable_first_row">
            <th>STT</th>
            <th>NGUỒN</th>
            <th>BÀI VIẾT TÌM THẤY</th>
        </tr>
        </thead>
        <tbody>
        {% for source in sources %}
            <tr>
                <td class="datatable_other_columns">{{ loop.index }}</td>
                <td class="datatable_title_column">
                    <a href="javascript:;" class="source_link" tag="{{ params.tag }}" sourceid="{{ source.id }}"
                       published_from="{{ params.published_from }}" published_to="{{ params.published_to }}"
                       kw="{{ params.kw }}">
                        {{ source.name }}</a>
                </td>
                <td class="datatable_other_columns">
                    {#                    {% set vars = {'foo': 0} %}#}
                    {##}
                    {#                    {% for tag in source.tags %}#}
                    {#                        {% if vars.update({'foo': vars.foo + tag.count_status_completed}) %} {% endif %}#}
                    {#                    {% endfor %}#}
                    {#                    {{ vars.foo }}#}
                    {{ source.numFound }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <script type="text/javascript">
        $('.source_link').on('click', function () {
            display_busy_mark();
            sourceId = $(this).attr('sourceid');
            publised_from = $(this).attr('published_from');
            publised_to = $(this).attr('published_to');
            tag = $(this).attr('tag');
            kw = $(this).attr('kw');
            $.ajax('/repository/report_tag/' + sourceId+'/'+tag+'/'+publised_from+'/'+publised_to+'/'+kw+'/1', {
                success: function (data) {
                    hide_busy_mark();
                    $('.midle-content').html(data);
                    return scroll_to_top();
                },
                error: function () {
                    display_error_mesage();
                    console.log('ERROR: GET CONTENT');
                }
            });
        });
    </script>
{% endblock %}