{% extends "_layoutblank.html" %}
{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/frontend.js') }}"></script>
    <table id="data_table" class="table table-striped table-bordered">
        <thead>
        <tr class="datatable_first_row">
            <th>#</th>
            <th>NGUỒN</th>
            <th>THỜI GIAN TẠO</th>
            <th>TỔNG SỐ CHUYÊN MỤC</th>
            <th>TỔNG SỐ BÀI VIẾT</th>
        </tr>
        </thead>
        <tbody>
        {% for source in sources %}
            <tr>
                <td class="datatable_other_columns">{{ loop.index }}</td>
                <td class="datatable_title_column">
                    <a href="javascript:;" class="source_link" sourceid="{{ source.id }}">
                        {{ source.name }}</a>
                </td>
                <td class="datatable_other_columns">{{ source.created_date }}</td>
                <td class="datatable_other_columns">
                    {{ source.tags|length }}
                </td>
                <td class="datatable_other_columns">
                    {% set vars = {'foo': 0} %}

                    {% for tag in source.tags %}
                        {% if vars.update({'foo': vars.foo + tag.count_status_completed}) %} {% endif %}
                    {% endfor %}
                    {{ vars.foo }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <script type="text/javascript">
      $('.source_link').on('click', function () {
        display_busy_mark();
        sourceId = $(this).attr('sourceid');
        $.ajax('/repository/report_tag/' + sourceId, {
            success: function (data) {
                hide_busy_mark();
                $('.midle-content').html(data);
                return scroll_to_top();
            },
            error: function () {
                display_error_mesage();
                console.log('ERROR: GET CONTENT');
            }
        });
    });
    </script>
{% endblock %}